{% extends "base.html" %}
{% block content %}

<h3 class="light-green center-align">Cookbook</h3>

<ul class="collapsible">
    {% for recipe in recipes %}
    <li>
      <div class="collapsible-header">
        <strong>{{recipe.title}}</strong>
      </div>
      <div class="collapsible-body"><strong>{{recipe.category}}</strong>
      <p>{{recipe.ingredients}}</p>
      <p>{{recipe.instructions}}</p>
      <p><a href="{{url_for('edit_recipe', recipe_id=recipe.id)}}" class="btn green accent-4">Edit</a>
        <a href="{{url_for('delete_recipe', recipe_id=recipe.id)}}" class="btn red">Delete</a>
      </p>
      
    </div>
    </li>
    {% endfor %}
  </ul>
  
  <div class="container">
    <div class="card">
        <div class="card-image">
            <a href="https://www.amazon.com/s?k=cooking+tools" target="_blank">
              <img src="{{ url_for('static', filename='picture/kitchen-tools.jpg') }}" alt="Cooking Tools">
            </a>
        </div>
        <div class="card-content center-align">
            <span class="card-title">Quality Cooking Tools</span>
            <p>Enhance your cooking experience with the best kitchen tools.</p>
        </div>
        <div class="card-action center-align">
            <a href="https://www.amazon.com/s?k=cooking+tools" class="btn orange darken-2" target="_blank">
                Shop Now
            </a>
        </div>
    </div>
</div>
{% endblock %}